.myheader{
  text-align: center;
}
.profile{
  border-radius: 50%;
}
.carousel-item {
  height: 1000px;
    text-align: center;
    color: white;
}
.item1 {
  background-color:rgb(0, 211, 141);
  background-image: url("https://i.ytimg.com/vi/xsy7N06-VWc/hqdefault.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /height: 100px;/
}
.item2 {
  background-color:rgb(255, 99, 79);
  background-image: url("https://i.ytimg.com/vi/yC9LN7DJRfY/maxresdefault.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /height: 100px;/
}
.item3 {
  background-color:rgb(177, 117, 255);
  background-image: url("https://i.ytimg.com/vi/0OKue0hMsIg/maxresdefault.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /height: 100px;/
}
.item4 {
  background-color:rgb(104, 119, 255);
  background-image: url("https://i.ytimg.com/vi/6yh4duKfm8Y/maxresdefault.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /height: 100px;/
}
.item5 {
  background-color:rgb(255, 151, 81);
  background-image: url("https://i.ytimg.com/vi/FUu_OImYPqU/maxresdefault.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /height: 100px;/
}
.item6 {
  background-color:rgb(253, 119, 181);
  background-image: url("https://i.ytimg.com/vi/Ke6yHwWilVE/maxresdefault.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /height: 100px;/
}
.item7 {
  background-color:rgb(140, 228, 0);
  background-image: url("https://i.ytimg.com/vi/Nnj9NreNW-s/maxresdefault.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  /height: 100px;/
}
.social-menu ul {
    position: relative;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}
